/* font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif; */

$font1: 'Raleway', sans-serif;
$font2: 'Playfair Display', serif;
$black: black;
$darkgrey: #6B717E;
$lightgrey: #A4A9B5;
$darkpink: #DF4E9F;
$midpink: #FFA2CD;
$lightpink: #FFBED5;
