body {
  background: #DF4E9F;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  justify-content: center;
  width: 100%;
}

h2 {
  color: #6B717E;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h3 {
  color: #DF4E9F;
  font-family: 'Playfair Display', serif;
}

h4 {
  color: #FFBED5;
}

/* navbar w main title */

.nav {
  color: white;
  border-radius: 100%;
  border: none;
  text-align: center;
  width: 100px;
  height: 100px;
  box-shadow: 5px 5px 3px #A4A9B5;
  background: radial-gradient( #FFBED5, #FFA2CD);
  display: block;
}

.nav:hover {
    background: #DF4E9F;
}

hr {
  border: #A4A9B5 solid 1px;
}

main {
  justify-content: center;
}

.section {
  max-height: 950px;
}

#about-section {
  margin-top: 50px;
  background-image: url('../images/Charlotte Davies Software Developer.jpg');
  width: 100%;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 150px;
  padding-left: 240px;
  padding-right: 50px;
  background-repeat: no-repeat;
  color: black;
}


#skills-section {
  font-size: 50px;
  color: #FFBED5;
  font-family: 'Raleway', sans-serif;
}

#skills-section p {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

/* #trainers {
  background-image: url('../images/trainers.JPG');
  width: 100%;
  background-position: center;
  padding-bottom: 245px;
  padding-left: 240px;
  padding-right: 50px;
  background-repeat: no-repeat;
} */

/* #codecademy {
  background-image: url("/../images/codecademy.PNG");
  /* width: 100%; */
  /* height: 100%; */
  background-position: center;
  padding-bottom: 789px;
  padding-left: 90px;
  padding-right: 200px;
  background-repeat: no-repeat;
} */



#projects-section {
  background-color: #FFA2CD;
}

#cv-section {
  background-color: black;
  color: white;
}

#contact-section {
  background-color: #A4A9B5;
  color: white;
}

/* #projects-section img {
  max-width: 300px;
  /* max-height: 300px; */
  /* border-radius: 100%;
} */

span {
  font-weight: bold;
}
