<div class="projects-section">

  <div class="container">

    <h2>Projects</h2>

    <div class="project-one">
      <img id="whodunit" src="images/whodunit.png" alt="charlotte-project-1">
      <p>This was my first app, completed just 3 weeks after the start of the Web Development Immersive Course.<br><br>The brief was to create a game using what we had learnt so far: <span>HTML 5, CSS3 and JavaScript.</span><br><br>I’m particularly proud of the use of HTML Audio so do have the sound on when you play!</p>
    </div>

    <div class="project-two">
      <img id="guestbook" src="images/guestbook.png" alt="charlotte-project-2">
      <p>This was my first full stack app and I’m proud of it as I can see couples using it!<br><br>We had to create a full stack app using Express.<br><br>My highlight of this project is how I managed to make each guestbook private by generating  a secret code for each book.<br><br>In the future I would like to develop the guest book page to show the data in a variety of more exciting ways - graphs, polls etc.</p>
    </div>

    <div class="project-three">
      <img id="appres" src="images/appres.png" alt="charlotte-project-3">
      <p>As part of the course we had to build an app as part of a group.<br><br>With two other developers, we worked together to create a ski holiday planning app.<br><br>I loved working collaboratively on this project!<br><br>My main contribution was the destination pages, where I learnt to implement <span>Google Maps and Google Places APIs.</span></p>
    </div>

    <div class="project-one">
      <img id="whodunit" src="images/whodunit.png" alt="charlotte-project-1">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

  </div>

</div>
